@using Microsoft.AspNetCore.Identity

@{

}

<table id="clientsTable" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Edit</th>
            <th>Set Role</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
            <tbody>
                @foreach(var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td><button data-internalid="@user.Id" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditModal">Edit</button></td>
                        <td><button data-internalid="@user.Id" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#SetModal">Set Role</button></td>
                        <td><button data-internalid="@user.Id" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#DetailsModal">Details</button></td>
                        <td><button data-internalid="@user.Id" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal">Delete</button></td>
                    </tr>
                }
            </tbody>

</table>

<script>
    $(document).ready(function()
    {
        $('#clientsTable').DataTable();
        console.log("datatable success");
    });
</script>