@{
    ViewData["Title"] = "Roles";
}



<html>
    <h1>@ViewData["Title"]</h1>
    <button id="btnclickShow" class="btn btn-primary btn-sm" />
    <button id="btnclickHide" class="btn btn-danger btn-sm" />
    <div id="tabl">
        <table class="table" id="clientsTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-controller="Admin" asp-action="Edit">Edit</a>
                            <a class="btn btn-danger btn-sm" asp-controller="Admin" asp-action="Delete">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn alert-primary btn-sm"></button>
        <button></button>
    </div>

</html>

@section Scripts{

    <script>

        $(document).ready(function(){
            $("btnclickShow").click(function(){
                $("#tabl").modal('show');
            });
            $("btnclickHide").click(function(){
                $("#tabl").modal('hide');
            });
        })

    </script>
}
